


#box-1{
    border: 15px solid   blue;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 50px;
   
}

p{
    width: 250px;
    height: 80px;
   
    border: 2px solid black;
    margin: 20px ;
    padding: 50px 50px;
}
