


#box-1{
    border: 15px solid   blue;
    background-color: lightblue;
    width: 338px;
    height: 150px;
    margin: 20px;
    padding: 52p;
   
}

p{
    width: 300px;
    height: 80px;
   
    border: 2px solid black;
    margin: 20px ;
    padding: 50p 50px;
}
